.nav-link {
    color: white;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #b70811; /* Cambia el color al pasar el  */
    background-color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: all 0.3s ease;

  }
  
  .nav-link.active:hover {
    color: #b70811; /* Cambia el color al pasar el  */
    background-color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: all 0.3s ease;
  }

  body {
    background-color: #232528;
    color: white; /* Color del texto por defecto */
  }

  .navbar-logo {
    height: 80px; /* Ajusta el tamaño según sea necesario */
    filter: brightness(50%);
    transition: filter 0.3s ease;
    position: relative;
    top: -5px; /* Ajusta este valor según sea necesario */
  }
  
  .navbar-logo:hover {
    filter: brightness(100%); /* Ilumina la imagen al pasar el ratón */
  }
  
  /* Para evitar que la navbar se baje debido al movimiento del logo */
  .navbar-brand {
    display: flex;
    align-items: center;
  }

  /* Estilos para el carrusel */
.carousel {
    max-width: 800px; /* Establece el ancho máximo del carrusel */
    margin: 0 auto; /* Centra el carrusel horizontalmente */
  }
  
  .carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Asegura que las imágenes se ajusten bien dentro del carrusel */
  }